.footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: "column1 column2 column3";}

  #Logo {
    width: 30%; /* Adjust the width as needed */
    height: 30%; /* Maintain aspect ratio */
    margin-bottom: 10px;}
  
.container-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
      }
  
.form-group {
        margin-bottom: 20px;
      }
  
.form-group label {
        display: block;
        margin-bottom: 5px;
      }
  
.form-group input,
.form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
.form-group textarea {
        height: 100px;
      }
  
.form-group input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
      }
  
.form-group input[type="submit"]:hover {
        background-color: #45a049;
      }


      header {
        background-color: #161414;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .logo img {
        width: 50px;
        height: 50px;
      }
      
      .menu {
        list-style-type: none;
        display: flex;
        gap: 10px;
      }
      
      .menu li a {
        text-decoration: none;
        color: #FFFFFF;     
        padding: 5px 10px;
      }
      
      .search-bar {
        display: flex;
        gap: 10px;
      }
      
      .search-bar input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .search-btn {
        padding: 8px 16px;
        background-color: #161414;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 15px;
      }
      
      .search-btn:hover {
        background-color: #F02828;
      }
      
      .account-btn {
        padding: 8px 16px;
        background-color: #161414;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 15px;
      }
      .signout-btn {
        padding: 8px 16px;
        background-color: #F02828;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 15px;
      }
      
      .account-btn:hover {
        background-color: #F02828;
        
      }
      .signout-btn:hover {
        background-color: #F02828;
        opacity: 0.7;
      }
      
      
      
  