@media (max-width: 767px) {
    /* CSS for screens up to 767px (mobile) */
    .footer {
      display: none; /* Hide the footer on smaller screens */
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS for screens between 768px and 1023px (tablets) */
    .footer {
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    }
    
    #Logo {
      width: 40%; /* Adjust the logo width for tablets */
      height: auto; /* Allow the logo height to adjust accordingly */
      margin-bottom: -30px;
      margin-left: -20px;
    }
  }
  
  /* Default CSS for screens larger than 1023px (desktop) */
  .footer {
    background-color: #161414;
    color: rgba(255, 255, 255, 0.6); /* White color with 60% opacity */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: "column1 column2 column3";
  }
  
  #Logo {
    width: 50%; /* Adjust the logo width for desktop */
    height: auto; /* Allow the logo height to adjust accordingly */
    margin-bottom: -40px; 
    margin-left: -27px;
  }
  
  .footer-column-name {
    color: #FFFFFF;
  }
  
  .subscription-form {
    color: white;
  }
  
  .subscription-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #E5E5E5;
    color: #1D2130;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .subscription-form input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #E5E5E5;
    background: #2B2E3C;
  }
  
  .footer-column:nth-child(4) h3.footer-column-name {
    visibility: hidden;
  }
  
  .footer a {
    color: rgba(255, 255, 255, 0.6); /* White color with 60% opacity */
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #FFFFFF; /* White color */
  }
  