body {
  background-color: #161414;
}

/* Product Page Styles */
.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 397px;
  height: 563px;
}

.button-trailer {
  margin-top: 20px;
}

.icons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .icon-text {
    margin-top: 5px;
  }

.right-side {
  flex: 1;
  color: aliceblue;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 20px;
}

.storyline {
  font-size: 20px;
  margin-bottom: 10px;
}

.storyline-text {
  margin-bottom: 20px;
}

.two-columns {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.column {
  flex: 1;
}

.column-2 {
  flex: 1;
  margin-right: 150px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid;
}

.trailer-button {
  background-color: none;
}

.icons {
  background: transparent;
  border: none;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trailer-button {
  border-radius: 50px;
  border: 1px;
}

.trailer-button:hover {
  opacity: 0.8;
}

.button-social-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button:hover {
  opacity: 0.8;
}

.buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.watch-button,
.download-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.watch-button img,
.download-button img {
  width: 190.4px; /* 30% smaller than original */
  height: 56px; /* 30% smaller */
}

.watch-button:hover img,
.download-button:hover img {
  opacity: 0.8;
}

.icon-button p {
  color: white;
  margin-top: 5px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* Adjustments for tablets */
  .product-page {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  #invisible-column {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjustments for mobile devices */
  .product-page {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .left-side {
    align-items: flex-start;
  }
}

.line {
  border-style: solid;
  border-color: #ff0000;
}
